.vscode/**
.vscode-test/**
out/test/**
libs/cs/bin
libs/cs/obj
demos/cs-vsc-appz-demo/bin
demos/cs-vsc-appz-demo/obj
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
